@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

/* GENERAL */
* {
    font-family: 'Titillium Web', sans-serif;
}

html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 42px;

    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
}

button {
    cursor: pointer;
}

.container,
.header__inner,
.footer__inner {
    max-width: 1100px;

    padding: 0 20px;
    margin: 0 auto;
}

.container {
    padding: 100px 20px;
}

.title {
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
    text-align: center;

    max-width: 620px;

    margin: 0 auto 80px;
}

.title.black,
.title.black h1,
.title.black p {
    color: #3c4761;
}

.title hr {
    width: 87px;
    height: 4px;

    background: rgba(0, 0, 0, 0.15);
    border: none;

    margin: 20px auto;
}

.title p {
    font-size: 18px;
    line-height: 1.5;

    margin: 0;
}

.top {
    position: fixed;
    bottom: 40px;
    right: 20px;

    background: rgba(0, 0, 0, 0.3);

    width: 45px;
    height: 45px;

    font-size: 36px;
    text-align: center;

    border-radius: 50%;
}

.hide {
    display: none;
}

.nav-container {
    z-index: 9999;
    transform: translate(-50%, -100%);
    padding-left: 0.1px;
    background: #87509c;
}

/* HEADER */
.header {
    background: #87509c;

    box-sizing: border-box;
    min-height: 100%;
}

/* burger */
.burger {
    position: relative;

    display: none;

    height: 45px;
    width: 45px;
}

.burger__line {
    position: absolute;

    width: 45px;
    height: 3px;

    background: #fff;

    top: 50%;
    right: 0;
}

.burger__line:before {
    content: "";

    position: absolute;
    width: 45px;
    height: 3px;

    background: #fff;

    bottom: 12px;
}

.burger__line:after {
    content: "";

    position: absolute;
    width: 45px;
    height: 3px;

    background: #fff;

    top: 12px;
}

.burger__line,
.burger__line:before,
.burger__line:after {
    border-radius: 5px;

    transition: background 0.2s, transform 0.2s, top 0.2s, bottom 0.2s;
}

.burger.active .burger__line {
    transform: rotate(47deg);
}

.burger.active .burger__line::after {
    height: 2px;
    top: 0;
}

.burger.active .burger__line::before {
    transform: rotate(-95deg);
    bottom: 0;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;

    transition: transform .3s ease;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1100px;

    padding: 20px 20px;
    margin: 0 auto;
}

.header__menu {
    display: flex;

    list-style: none;
    font-size: 16px;

    transition: transform 0.3s ease;
}

.header__item {
    margin-left: 20px;
}

.header__item a {
    padding: 7px 16px;

    border-radius: 3px;

    transition: background 0.2s;
}

.header__item a:hover {
    background: rgba(0, 0, 0, 0.3);
}

.header__title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 240px;
    max-width: 900px;
    z-index: 9;

    text-align: center;
}

.header__btn {
    font-weight: 600;
    color: #fff;

    background: #eb7d4b;

    border: none;
    border-bottom: 5px solid #c86a40;
    border-radius: 5px;

    margin-top: 50px;
    padding: 24px 82px;

    transition: border-bottom .1s, margin-top .05s ease, background 0.2s ease;
}

.header__btn:hover {
    background: #e97844;
    border-bottom: 3px solid #c86a40;
    margin-top: 53px;
}

/* SERVICES */
.services {
    background: #17c2a4;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

    color: #fff;
    text-align: center;
}

.services__item {
    max-width: 18%;
}

.services__img {
    margin-bottom: 30px;
}

.services__text {
    line-height: 1.5;
    font-weight: 300;
}

/* TEAM */
.team {
    background: #e7f1f8;
}

.team__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team__item {
    text-align: center;

    max-width: 18%;
}

.team__img {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.team__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team__title {
    margin-bottom: 5px;

    color: #3c4761;
}

.team__rank {
    color: #30bae7;

    margin: 0;
}

.team__text {
    font-size: 16px;
    line-height: 1.5;
    color: #3c4761;
    font-weight: 300;
}

.team__icons {
    display: flex;
    justify-content: center;
}

.team__icons a:not(:last-child) {
    margin-right: 15px;
}

.facebook,
.twitter,
.linkedin,
.mail {
    width: 20px;
    height: 20px;
    font-size: 16px;

    padding: 10px 8px 6px;

    border-radius: 50%;

    background: #bdd1df;

    transition: background 0.2s;
}

.facebook:hover,
.twitter:hover,
.linkedin:hover,
.mail:hover {
    background: #30bae7;
}

/* SKILL */
.skill__item {
    max-width: 18%;
}

.skill__progress {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill__img {
    position: relative;

}

.skill__img img {
    max-width: 100%;
    display: block;
}

.skill__img span {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);

    font-weight: 300;
    font-size: 42px;
}

.skill__item h3 {
    text-align: center;
}

/* PORTFOLIO */
.portfolio {
    background: #ffdd99;
}

.portfolio__nav {
    text-align: center;

    margin-top: -40px;
}

.portfolio__nav_item {
    background: #ebc985;

    border: none;
    border-radius: 4px;

    padding: 10px 20px;

    transition: background 0.2s;
}

.portfolio__nav_item:hover {
    background: #fff;
}

.portfolio__nav_item:not(:last-child) {
    margin-right: 10px;
}

.portfolio__works {
    position: relative;
    left: -50%;
    transform: translateX(51.5%);

    display: flex;
}

.portfolio__works_item {
    display: none;
    width: calc(48% - 72px);
    flex-wrap: wrap;

    margin-top: 60px;
    margin-right: 36px;
    margin-left: 36px;

    transition: 0.3s all;
}

.filter__item {
    display: inline-block;
}

.portfolio__img {
    max-width: 100%;
}

.portfolio__title {
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-size: 18px;

    margin-bottom: 0;
}

.portfolio__btn {
    position: relative;
    right: -50%;
    transform: translateX(-50%);

    font-weight: 600;
    color: #fff;
    text-align: center;

    background: #16daaf;

    border: none;
    border-bottom: 5px solid #15caa3;
    border-radius: 5px;

    margin: 70px auto 0;
    padding: 24px 55px;

    transition: border 0.2s, margin 0.2s, background 0.2s;
}

.portfolio__btn:hover {
    background: #15caa3;
    border-bottom: 3px solid #16bd98;
    margin-top: 72px;
}

.portfolio__btn.hide {
    display: none;
}

/* REVIEWS */
.reviews {
    background: #d74680;
}

.reviews__comments {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reviews__item {
    display: flex;

    width: 42%;

    color: #fff;
}

.reviews__item:nth-child(1),
.reviews__item:nth-child(2) {
    margin-bottom: 120px;
}

.reviews__img {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 95px;
    height: 95px;

    margin-right: 30px;
}

.reviews__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews__comment {
    line-height: 1.5;
    font-style: italic;
    font-size: 20px;

    margin-top: 0;
}

.reviews__name {
    margin-bottom: 0px;

    text-transform: uppercase;
    font-size: 24px;
}

.reviews__rank {
    margin-top: 5px;

    color: #ffdd99;
    font-size: 18px;
}

/* FORM */
.form {
    background: #3c5499;
}

.form__enter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 860px;

    margin: 0 auto;
}

.form__enter input {
    width: 44%;
    margin-bottom: 20px;
}

.form__enter textarea {
    width: 100%;
    min-height: 200px;
    padding: 0;
}

.form__enter input,
.form__enter textarea {
    background: #273a71;
    outline: none;
    border: none;

    border-radius: 2px;
    padding: 20px;

    color: #fff;
}

.form__enter input::placeholder,
.form__enter textarea::placeholder {
    color: #fff;
    font-size: 18px;


}

.form__btn {
    font-weight: 600;
    color: #fff;
    text-align: center;

    background: #30bae7;

    border: none;
    border-bottom: 5px solid #299ec5;
    border-radius: 5px;

    margin: 70px auto 0;
    padding: 24px 55px;

    transition: border, margin, background .2s;
}

.form__btn:hover {
    background: #2aacd8;
    border-bottom: 3px solid #299ec5;
    margin-top: 72px;
}

/* FOOTER */
.footer {
    background: #344b8e;
}

.footer__inner {
    padding: 20px 20px;
}

.footer__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    font-size: 24px;
    font-weight: 600;

    list-style: none;

    padding-left: 0;

}

.footer__item {
    line-height: 2;

    margin: 0 20px;
}

.footer__item a {
    transition: color 0.2s;
}

.footer__item a:hover {
    color: #30bae7;
}

@media (max-width: 1120px) {

    /* SERVICES */
    .services__list {
        justify-content: center;
    }

    .services__item {
        max-width: 40%;
    }

    .services__item:nth-child(1),
    .services__item:nth-child(2) {
        margin-bottom: 30px;
    }

    .services__img {
        max-width: 100%;
    }

    .services__text {
        max-width: 70%;
        margin: 0 auto;
    }

    /* TEAM */
    .team__item {
        max-width: 50%;
    }

    .team__item:nth-child(1),
    .team__item:nth-child(2) {
        margin-bottom: 30px;
    }

    .team__text {
        max-width: 70%;
        margin: 16px auto;
    }
}

@media (max-width: 970px) {

    /* SKILL */
    .skill__progress {
        justify-content: center;
    }

    .skill__item {
        max-width: 40%;
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (max-width: 920px) {

    /* HEADER */
    .header__logo {
        transform: scale(80%);
    }

    .burger__line,
    .burger__line::after,
    .burger__line::before {
        width: 40px;
        height: 3px;
    }

    .header__menu {
        display: none;
    }

    .header__nav {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .header__menu.active {
        display: block;
        transform: translateY(100%);

        position: absolute;
        z-index: 9999;
        top: 59px;
        right: -50%;
        transform: translateX(-50%);

        text-align: center;

        padding: 0;

        width: 100%;
        height: 50%;
    }

    .header__menu.active .header__item {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);

        max-width: 1100px;

        background: #87509c;
    }

    .header__menu.active .header__item:hover {
        background: #773890;
    }

    .header__menu.active a {
        display: block;
        padding: 1.8%;
    }

    .header__item {
        background: rgba(0, 0, 0, 0.3);
    }

    /* burger */
    .burger {
        display: block;
    }

    /* REVIEWS */
    .reviews__comments {
        display: block;
    }

    .reviews__item {
        width: 80%;
        margin: 0 auto;
    }

    .reviews__item:nth-child(3) {
        margin-bottom: 120px;
    }

    /* FORM */
    .form__enter input {
        width: 100%;
    }
}

@media (max-width: 720px) {
    h1 {
        font-size: 38px;
    }

    .header__menu.active a {
        padding: 2%;
    }

    /* PORTFOLIO */
    .portfolio__works_item {
        width: calc(100% - 72px);
    }

    /* SERVICES */
    .services__item {
        max-width: 100%;
    }

    .services__item:not(:last-child) {
        margin-bottom: 50px;
    }

    /* TEAM */
    .team__item {
        max-width: 100%;
    }

    .team__item:nth-child(3) {
        margin: 0 0 30px;
    }
}

@media (max-width: 540px) {
    h1 {
        font-size: 32px;
    }

    .header__menu.active a {
        padding: 3%;
    }

    /* REVIEWS */
    .reviews__item {
        display: block;
    }

    .reviews__item:nth-child(1),
    .reviews__item:nth-child(2),
    .reviews__item:nth-child(3) {
        margin-bottom: 70px;
    }

    .reviews__item-container {
        display: flex;
        justify-content: center;

        margin-bottom: 20px;
    }
}



@media (max-width: 380px) {
    .portfolio__nav_item {
        padding: 10px 15px;
    }

    .header__menu.active a {
        padding: 4%;
    }
}
